<intent-filter>
	<action android:name="android.intent.action.VIEW" />
	<category android:name="android.intent.category.DEFAULT" />
	<category android:name="android.intent.category.BROWSABLE" />
	<!-- Accepts URIs that begin with YOUR_SCHEME://YOUR_HOST -->
	<data
	    android:scheme="https"
	    android:host="chrome"
	/>
</intent-filter>
